@import url(https://db.onlinewebfonts.com/c/e8fafd4bab1ff229bb62067775369b8d?family=Thunderhouse+Pro);

.conteiner-pagina-generos{
    display: grid;
    grid-template-areas:
    "titulo-pagina-generos"
    "galeria-generos"
    "agenda-generos";
    justify-content: center;
    gap:10vh;
}

#titulo-pagina-generos{
    grid-area: titulo-pagina-generos;
    text-align: center;
    font-size: 60px;
    font-family: 'Thunderhouse Pro';
    text-decoration: none;
}

.galeria-generos{
    grid-area: galeria-generos;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vh;
    grid-template-columns:repeat(1, 100px);

    @media screen and (max-width: 1250px) {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        grid-template-columns:repeat(3, 150px);
        @media screen and (max-width: 1024px) {
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 10vh;
            grid-template-columns:repeat(3, 50px);
        }
    }
    
}

.item-galeria-generos{
    display: block;
    border-radius: 20px;
    width: 75px;
    height: 75px;
    @media screen and (min-width: 768px) {
        width: 100px;
        height: 100px;
        @media screen and (min-width: 1024px) {
            width: 125px;
            height: 125px;
        }
    }
}

.item-galeria-generos:hover{
    opacity: 0.8;
}

.item-galeria{
    display: grid;
    position: relative; 
}

.item-galeria img{
    grid-column: 1;
    grid-row: 1/3;
}

.item-galeria p{
    background-color: rgba(207, 134, 24, 0.6);
    padding: 10px;
    color: white;
    grid-column: 1;
    text-align: left;
    font-family: 'Thunderhouse Pro';
    position: absolute;
    bottom: 0;
    width: 90%;
    font-size: 20px;
    }

.btn-success{
    width: 30vh;
    height: 8vh;
    grid-column: 4;
    border-radius: 50px !important;
}
    
.btn-warning{
    width: 30vh;
    height: 8vh;
    grid-column: 3;
    grid-row: 1;
    border-radius: 50px !important;
}   

.btn{
    border-radius: 40px;
}

.agenda-generos{
    grid-area: agenda-generos;
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(3, 1vh);
    grid-template-rows: repeat(3, 30vh);
    gap: 10rem 15rem;
    background-color: rgba(207, 134, 24, 0.6);
    justify-content: center;
    border-radius: 50px !important;
}

   
.item-agenda{
    background: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 30vh;
    height: 50vh;
    /* grid-row: 2/4; */
}

