@import url(https://db.onlinewebfonts.com/c/e8fafd4bab1ff229bb62067775369b8d?family=Thunderhouse+Pro);

.conteiner-pagina-generos{
    display: grid;
    grid-template-areas:
    "titulo-pagina-generos"
    "galeria-generos"
    "button-generos"
    "titulo-agenda-generos"
    "agenda-generos";
    justify-content: center;
    gap:2vh;
    width: 100%;
}

#titulo-pagina-generos{
    grid-area: titulo-pagina-generos;
    text-align: center;
    font-size: 60px;
    color: rgb(5, 91, 166);
    font-family: 'Thunderhouse Pro';
    text-decoration: none;
}

.galeria-generos{
    grid-area: galeria-generos;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vh;
    grid-template-columns:repeat(1, 100px);

    @media screen and (max-width: 1300px) {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        grid-template-columns:repeat(3, 150px);
        @media screen and (max-width: 1024px) {
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 8vh;
            grid-template-columns:repeat(3, 50px);
            @media screen and (max-width: 767px) {
                display: grid;
                justify-content: center;
                align-items: center;
                gap: 5vh;
                grid-template-columns:repeat(3, 50px);
            }
        }
    }
    
}

.item-galeria p{
    background-color: rgba(207, 134, 24, 0.6);
    padding: 10px;
    color: white;
    grid-column: 1;
    text-align: left;
    font-family: 'Thunderhouse Pro';
    position: absolute;
    bottom: 0;
    width: 90%;
    font-size: 20px;

    @media screen and (max-width: 1300px) {
        bottom: 0;
        width: 70%;
        font-size: 15px;
        @media screen and (max-width: 1024px) {
            bottom: 0;
            width: 180%;
            font-size: 15px;
            @media screen and (max-width: 767px) {
                bottom: 0;
                width: 120%;
                font-size: 10px;
            }
        }
    }

    }


.item-galeria-generos{
    display: block;
    border-radius: 20px;
    width: 75px;
    height: 75px;
    @media screen and (min-width: 768px) {
        width: 100px;
        height: 100px;
        @media screen and (min-width: 1024px) {
            width: 125px;
            height: 125px;
        }
    }
}

.item-galeria-generos:hover{
    opacity: 0.8;
}

.button-generos{
    display: grid;
    grid-template-columns:repeat(5, 250px);
    gap: 2vh;
    
}

.button-calendario{
    grid-column: 4;
}

.button-eventos-gratuito{
    grid-column: 5 !important;
}

.item-galeria{
    display: grid;
    position: relative; 
}

.item-galeria img{
    grid-column: 1;
    grid-row: 1/3;
}



.btn-success{
    width: 25vh;
    height: 5vh;
    grid-column: 4;
    background-color: rgb(3, 115, 42) !important;
    border-radius: 50px !important;
}
    
/* .btn-warning{
    width: 30vh;
    height: 8vh;
    grid-column: 3;
    grid-row: 1;
    border-radius: 50px !important;
}    */

.btn{
    border-radius: 40px;
}


#titulo-agenda-generos{
    grid-area: titulo-pagina-generos;
    text-align: center;
    font-size: 60px;
    font-family: 'Thunderhouse Pro';
    text-decoration: none;
    color: rgb(5, 91, 166);
}

.agenda-generos{
    grid-area: agenda-generos;
    display: grid;
    grid-template-columns:repeat(4, 100px);
    padding-top: 5vh;
    gap: 1vh 15vh;
    background-color: rgb(242, 160, 7);
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    border-radius: 50px !important;
    @media screen and (max-width: 2000px) {
        gap: 1vh 15vh;
        @media screen and (max-width: 1600px) {
            grid-template-columns:repeat(5, 100px);
            gap: 2vh 10vh !important;
            
        }
    }
}

   
.item-agenda{
    background: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 15vh !important;
    height: 25vh !important;
    border-radius: 90px;
    @media screen and (max-width: 2000px) {
        width: 15vh !important;
        height: 25vh !important;
        @media screen and (max-width: 1600px) {
            width: 12vh !important;
            height: 20vh !important;
        }
    }
}

